{{template "header"}}

<h1>Good web design coming through</h1>

<p>Upload images</p>
<form method="POST" enctype="multipart/form-data">
    <label for="idx-f">Choose File To Upload</label>
    <input type="file" id="idx-f" name="q">
    <br>
    <button type="submit">Upload</button>
</form>

{{if .}}
<h1>Here are the contents of the file:</h1>
{{.}}
{{end}}

{{template "footer"}}